.card__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:-40px -40px;
  @media (max-width: 500px) {
    margin:0px 0px ;
    padding-bottom: 15px;
  }
}

.cards__title {
  font-size: 36px;
  font-family: 'Exo2.0-Thin',sans-serif;
  color: #fff;
  text-shadow: 0 1px 1px #000;

  &_inner {
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 25px;

    & h2 {
      margin: 0;
      padding: 0;
    }
  }
}
