.App {
  max-width: 100%;
  text-align: center;
  background-image: linear-gradient(0deg,rgba(0,0,0,.5) 0,transparent 50%,rgba(0,0,0,.5)),url("./assets/images/Pattern.png");
  box-sizing: border-box;
  font-family: 'Trebuchet MS',sans-serif;
}
.container {
  width: 100%;
  max-width: 1120px;
  margin: auto;
  min-height: 100vh;
  height: 100%;
}


.t_center{
  text-align: center;
}