.card {

  &__item {

    max-width: 320px;
    height: 480px;
    width: 320px;
    mix-height: 480px;
    text-align: left;
    position: relative;
    box-sizing: border-box;
    &:hover {
      .card__size {
        background-color: #2ea8e6;
      }
      &:before {
        background-image: linear-gradient(135deg, transparent 5%, #2ea8e6 0);
      }
    }

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      transform: scale(1.02, 1.015);
      background-image: linear-gradient(135deg, transparent 5%, #1698d9 0);
      border-radius: 0 10px 10px 10px;
      transition: .2s;
    }


    &-inner {
      padding: 15px 48px 48px;
      background-image: url("../../../assets/images/funbox_cats.png");
      background-repeat: no-repeat;
      box-sizing: border-box;
      background-position: 0% 101%;
      position: relative;
      z-index: 2;
      display: block;
      width: 320px;
      height: 480px;
      border-radius: 0 10px 10px 10px;

    }
  }

  &__header {
    color: #666;
    font-size: 16px;
    text-align: left;
    margin-bottom: 0;

  }




  &__title {
    font-size: 48px;
    font-weight: bold;
    margin: 2px 0 0 0;
  }

  &__foodname {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
  }

  &__other-info {
    font-size: 14px;
    line-height: 16px;
    color: #666666;
    &::selection {
      background: transparent;
    }
  }

  &__catphoto {
    & img {
      object-fit: cover;
      object-position: 50% 50%;
    }

    &:after {
      content: "";
      width: 80px;
      height: 80px;
      background-color: #1698d9;
    }
  }

  &__size {
    width: 80px;
    height: 80px;
    background-color: #1698d9;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;


    &-number {
      font-size: 42px;
    }

    &-units {
      font-size: 21px;
      line-height: 11px;
      margin-bottom: 10px;
    }
  }

  &__buy {
    font-size: 13px;
    color: #fff;
    text-align: center;
    margin-top: 14px;
  }
}
